<h2>Book detail</h2>
<div>
  <%#= image_tag "sample-author1.jpg" %>
  <%= image_tag @book.user.get_profile_image(50,50) %>
  <%= @book.user.name %>
  <%= @book.title %>
  <%= @book.body %>
  <% if @book.user == current_user %>
   <%= link_to "削除", book_path(@book),method: :delete %>
   <%= link_to "編集", edit_book_path %>
  <% end %>
</div>